[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
streamlit-extras = "*"
streamlit-pandas-profiling = "*"
streamlit-elements = "*"

[dev-packages]

[requires]
python_version = "3.11"
